@charset "UTF-8";
@media (max-width:1000px){
	/* 服务页面开始 */
	.fuwu{width: 100%;height: 25%;position: relative;float: left;}
	.tubiaoll,.tubiao_title{display:none;}
	.tubiao_text1{color: #fff;position: absolute;left:0%;top:20%!important;width: 10px;line-height: 12px;font-size: 10px;display: none;}
	.tubiao_text2{color: #fff;position: absolute;right:0%;top:20%!important;width: 10px;line-height: 12px;font-size: 10px;display: none;}
	.tubiaoll{display: none!important;}
	.tubiaorl{display:none!important;}
	/* 服务页面结束 */
	/* 联系我们开始 */
	.contb{width:300px;height:500px;position:absolute;top:25%;left:50%;overflow:hidden;margin-left:-100px;margin-top:-250px;}
	.contb1{width:300px;height:500px;float:left;}
	.contb2{width:300px;height:500px;float:left;}
	.contb2 div{color:#ffe;}
	.contb2 div:nth-child(1){font-size:40px;}
	.contb2 div:nth-child(2){font-size:26px;}
	/* 联系我们结束 */
	/* 尾部开始 */
	.footBottomBox{width: 100%;height: 100px;position: relative;}
	.footBottomInfo{width: 800px;height: 100px;position: absolute;left: 50%;top:50%;margin-left: -400px;margin-top: -50px;}
	.footBottomInfo p{color:#c8d5db;opacity:0.4;text-align: center;font-size:12px;}
	/* 尾部结束 */
}
